.DS_Store
.idea
*.komodoproject
*.idea
.git
.tox
.travis.yaml
*.pyc
*.swp
scripts
test_env.conf


*.sw[op]
.env

.pytest_cache
__pycache__
.cache
venv/

~tmp
.Python
bin/
include/
lib/
pip-selfcheck.json
*.BAK
*.log

Jenkinsfile
Makefile
README.md
