[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytest = "==4.0.0"
requests = "==2.21.0"
"flake8" = "==3.6.0"
pytest-variables = "==1.7.1"
pytest-testrail = "*"
configparser = "*"


[dev-packages]



[requires]

python_version = "2.7"
